@mixin progressbar-attr {
    --ln-progress-bg: rgba(138, 138, 138, 0.7);
    --ln-progress-thumb-bg: white;
    --ln-progress-l-color: rgb(83, 51, 198);
    --ln-progress-r-color: rgb(188, 75, 192);
    --ln-progress-bg-main: linear-gradient(to right, var(--ln-progress-l-color), var(--ln-progress-r-color));
    --ln-progress-br-radius: 10px;
    --ln-btn-color: white;
    --ln-btn-width: 10px;
}

.ln-progressbar {
    --ln-progressbar-value: 0;
    content: "";
    position: relative;
    width: 100%;
    min-width: 10px;
    height: 5px;
    background: var(--ln-progress-bg);
    display: flex;
    border-radius: var(--ln-progress-br-radius);
    transition: height .3s;
    margin-left: 5px;
    margin-right: 5px;
}

.ln-progressbar::before {
    position: absolute;
    content: "";
    left: 0;
    width: calc(var(--ln-progressbar-value) * 100%);
    height: 100%;
    background: var(--ln-progress-bg-main);
    border-radius: var(--ln-progress-br-radius);
}

.ln-progressbar:hover {height: 8px;}

.ln-progressbar.thumb::after {
    content: "";
    position: absolute;
    width: var(--ln-btn-width);
    height: var(--ln-btn-width);
    border-radius: 50%;
    background: var(--ln-progress-thumb-bg);
    border: 3px solid var(--ln-progress-r-color);
    top: 50%;
    left: calc(var(--ln-progressbar-value)*100%);
    transform: translate(-50%,-50%);   
}

.ln-time-view {color: white}