$levels: (
    0: 0px,
    1: 5px,
    2: 10px,
    3: 15px,
    4: 20px,
    5: 30px,
    auto: auto
);

$br-levels: (
    0: 0px,
    1: 3px,
    2: 5px,
    3: 10px,
    4: 15px,
    5: 20px,
    circular: 50%
);

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

@mixin progressbar-attr {
    --ln-progress-bg: rgba(138, 138, 138, 0.7);
    --ln-progress-thumb-bg: white;
    --ln-progress-l-color: rgb(83, 51, 198);
    --ln-progress-r-color: rgb(188, 75, 192);
    --ln-progress-bg-main: linear-gradient(to right, var(--ln-progress-l-color), var(--ln-progress-r-color));
    --ln-progress-br-radius: 10px;
    --ln-btn-color: white;
    --ln-btn-width: 10px;
    --ln-toggle-bg: linear-gradient(to right, var(--ln-progress-l-color), var(--ln-progress-r-color));
}