@font-face {
  font-family: 'Lunaris-media-icons';
  src:
    url('./font/Lunaris-media-icons.ttf') format('truetype'),
    url('./font/Lunaris-media-icons.woff') format('woff'),
    url('./font/Lunaris-media-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ln-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Lunaris-media-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ln-tv:before {
content: "\e91b";
}
.ln-home-filled:before {
content: "\e91c";
}
.ln-art-cover:before {
content: "\e91d";
}
.ln-disc:before {
content: "\e91e";
}
.ln-closed-caption:before {
content: "\e91f";
}
.ln-movie:before {
content: "\e920";
}
.ln-favorite:before {
content: "\e921";
}
.ln-add:before {
content: "\e922";
}
.ln-logout:before {
content: "\e923";
}
.ln-more:before {
content: "\e912";
}
.ln-back:before {
content: "\e913";
}
.ln-restart:before {
content: "\e914";
}
.ln-delete:before {
content: "\e915";
}
.ln-refresh:before {
content: "\e916";
}
.ln-done:before {
content: "\e917";
}
.ln-home:before {
content: "\e918";
}
.ln-close:before {
content: "\e919";
}
.ln-menu:before {
content: "\e91a";
}
.ln-unlock:before {
content: "\e900";
}
.ln-lock:before {
content: "\e901";
}
.ln-info:before {
content: "\e902";
}
.ln-help:before {
content: "\e903";
}
.ln-volume-off:before {
content: "\e904";
}
.ln-volume:before {
content: "\e905";
}
.ln-person:before {
content: "\e906";
}
.ln-settings:before {
content: "\e907";
}
.ln-visibility-off:before {
content: "\e908";
}
.ln-visibility:before {
content: "\e909";
}
.ln-search:before {
content: "\e90a";
}
.ln-fullscreen:before {
content: "\e90b";
}
.ln-close-fullscreen:before {
content: "\e90c";
}
.ln-fast-rewind:before {
content: "\e90d";
}
.ln-fast-forward:before {
content: "\e90e";
}
.ln-stop:before {
content: "\e90f";
}
.ln-pause:before {
content: "\e910";
}
.ln-play:before {
content: "\e911";
}


.ln-icon.ln-xsm {font-size: 12px;}
.ln-icon.ln-sm {font-size: 22px;}
.ln-icon.ln-smx {font-size: 32px;}
.ln-icon.ln-md {font-size: 42px;}
.ln-icon.ln-mdx {font-size: 52px;}
.ln-icon.ln-lg {font-size: 62px;}
.ln-icon.ln-lgx {font-size: 72px;}

